{% extends '../common/layout.jinja2' %}
 <title>userList</title>
{% block subtitle %}{{page.name}} - {% endblock subtitle %}

{% block content %}
<p>{{ content|safe }}</p>
<h3>Users in the system:</h3>
<p>Click on the user name to make changes to the profile:</p>
<p class="pull-right">
<br>
 <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>id</th>
    <th>Role</th>
  </tr>
    {% for i in res %}
      <tr>
        <td><a href="{{ request.route_url('user_modify', userId=i.id) }}">{{ i.name }}</a></td>
        <td>{{ i.id }}</td>
        <td>{{ i.role }}</td>
      </tr>
    {% endfor %}
</p>

{% endblock content %}