{% extends '../common/layout.jinja2' %}
 <title>ModifyUsers</title>
{% block subtitle %}{{page.name}} - {% endblock subtitle %}

{% block title %}Modify - {% endblock title %}

{% block content %}
<h3>Edit User:</h3>
<br>
{{ message }}
{% if errors|length %}
{{ errors|join('<br>')|safe }}
{% endif %}

<form action="{{ url }}" method="post">
    <input type="hidden" name="next" value="{{ next_url }}">
        <p class="pull-right">
            <table style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>id</th>
                    <th>Role</th>
                </tr>
                <tr>
                    <td>{{ res.name }}</td>
                    <td>{{ res.id }}</td>
                    <td>{{ res.role }}</td>
              </tr>
            </table>
        </p>
        <p class="pull-right">
            <table>
                <tr>
                    <div class="form-group">
                        <td><label for="role">Change Role</label></td>
                        <td><input type="text" name="role"></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td><label for="login">Change Name</label></td>
                        <td><input type="text" name="username"></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td><label for="password">Change Password</label></td>
                        <td><input type="password" name="password1"></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td><label for="password">Re-enter New password</label></td>
                        <td><input type="password" name="password2"></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td align="left"><button type="submit" name="form.submitted" value="Register" >Update</button></td>
                    </div>
                </tr>
            </table>
        </p>
</form>
<p>You can return to the
<a href="{{request.route_url('view_page', pagename='FrontPage')}}">FrontPage</a>.
</p>
{% endblock content %}