{% extends '../common/layout.jinja2' %}
 <title>chatrooms</title>
{% block subtitle %}{{page.name}} - {% endblock subtitle %}

{% block content %}
<p>{{ content|safe }}</p>
<h3>Chatrooms in the system:</h3>
<p>Click on the chatroom id to join the chatroom:</p>
<p>You can only join the rooms which has door open.</p>

<p class="pull-right">
<br>
 <table style="width:100%">
  <tr>
    <th>Room ID</th>
    <th>Room Description</th>
    <th>Door Open</th>
  </tr>
    {% for i in res %}
      <tr>
        <td><a href="{{ request.route_url('chatroom_modify', roomId=i.id) }}">{{ i.id }}</a></td>
        <td>{{ i.roomDescription }}</td>
        <td>{{ 'Open' if i.door else 'Closed' }}</td>
      </tr>
    {% endfor %}
 </table>
</p>

{% endblock content %}