{% extends 'common/layout.jinja2' %}

{% block subtitle %}{{page.name}} - {% endblock subtitle %}

{% block content %}
<p>{{ content|safe }}</p>
<h3>Editor Options</h3>

<br>
<h5>User related options</h5>
<p class="pull-right">
    <li><a href="{{ request.route_url('user_list') }}">View List of all Users</a></li>
    <li><a href="{{ request.route_url('user_add') }}">Add a new user</a></li>
    <li><a href="{{ request.route_url('user_remove') }}">Delete an user</a></li>
</p>

<br>
<h5>Chatroom related options</h5>
<p class="pull-right">
    <li><a href="{{ request.route_url('chatroom_list') }}">View List of all Chatrooms</a></li>
</p>

<p>You can return to the
<a href="{{request.route_url('view_page', pagename='FrontPage')}}">FrontPage</a>.
</p>
{% endblock content %}